@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

  
$smallest :375px;    
$small: 600px;
$medium: 900px;
$big:1200px;
$desktop:1824px;

$colorPrincipal:rgb(26, 26, 83); 
$colorSecundario:rgb(155, 154, 154); 

/* background: rgb(43,43,45);
background: linear-gradient(-90deg, rgba(43,43,45,1) 36%, rgb(32, 45, 94) 90%);
 */
 

body{
    margin: 0;
    padding: 0;
    display: flex;    
    justify-content: center;
    align-items: center;    
    box-sizing: border-box;
    font-family: Poppins;
    min-height: 100vh;
    overflow-X: hidden;
    flex-direction: column;
    font-size: 10px;   
    background: rgb(76,76,83);
    background: linear-gradient(90deg, rgba(76,76,83,1) 29%, rgba(123,127,142,1) 90%);
  

.main-container{
    top: 120px;
    background-color: transparent;
    position: relative;
    width: 70%;    
    margin: auto;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    z-index: 2;
    @media screen and (max-width: $small) {        
        width: 100%;
        margin-top: 100px;
        top: 0px;
    }
    .card{    
        color: black;
        padding: 50px 20px;    
        display: flex;
        position: relative;     
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        max-width: 60vw;  
        border-radius: 1%; 
        min-height: 70vh;     
        margin:30px auto;    
        background-color: transparent;
        transition: all 1s;
        background-attachment: fixed; 
        background-size: contain;
        background-blend-mode: darken;
        background-color: rgb(202, 200, 200);
        @media screen and (max-width: $small) {        
            width: 100%;
            max-width: initial;
            margin-top: 20px;
        }
    }
        .card-title{
            position: relative;
            top: -50px;
            text-align: center;
            font-size: 2rem;
            text-shadow: 0px 0px 30px white;
            text-decoration: underline;
            font-family: Orbitron, sans-serif;    
        }
        .container-video-link{
            height: 300px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: $small) {        
                width: 100%;
                height: initial;
            }
            .card-video{
                margin: auto;
                transition: .1s;
               width: 100%; 
                height: 100%;
                border-radius: 10px;
                transition: .6s;    
                max-width: 550px;
                &:hover{
                    filter: contrast(70%);
                    transition: .1s;
                    z-index: 999;
                    box-shadow: none;                    
                }
            }         
        }
        .link-container{
            width: 100%;
            top: 10px;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 10px;
            @media screen and (max-width: $small) {        
                flex-direction: column; 
            }
            .card-link{   
                background-color: transparent;
                display: flex;    
                color: rgb(49, 52, 61);
                justify-content: center;
                align-items: center;    
                height: 45px;
                flex-direction: row;    
                font-size: 1.2rem;
                text-decoration: none;     
                padding: 0px 10px 0px 10px;  
                color: white;
                border-radius: 10px;
                margin-top: 5px;
                background-color: rgba(49, 52, 61, 0.644);
                &:hover{                    
                    background-color: white;
                    color: $colorPrincipal;
                }
            }
            .link-documentacion{       
                color: white;
                height: 40px;
                display: flex;
                color: white;
                justify-content: center;  
                align-items: center;
                flex-direction: row;   
                
                &:hover{                    
                    background-color: white;
                    color: $colorPrincipal;
                }
                img{
                    width: 32px;
                    height: 32px;
                    margin: auto 8px;    
                    position: relative;
                    background-color: transparent;        
                }
            }
        }
        
    }
    }






.img-container{    
    top: 0px;    
    position: relative;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}







/*----------- TITULO JUAN GALLEGO----------------*/
.title-container{
    position: fixed;
    top: 20px;
    width: 250px;
    left: 20px;
    color: white;
    font-family: Orbitron;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: $small) {        
        position: relative;
        color: white;
        margin: auto;
        min-height: 50vh;
        top: 20px;
        left: initial;
     }
    h1{
        font-size: 1.7rem;  
       
        @media screen and (max-width: $small) {        
            font-size: 3rem;  
            text-align: center;
         }   
     }
    h3{    
        margin-top: -15px;
        font-size: 1.3rem;
    }
    a{
        position: relative;
        top: 0px;
        text-decoration: none;
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        border: 2px solid $colorPrincipal;
        border-radius: 5px;
        padding: 5px;
        background-color: rgba(196, 192, 192, 0.848);
        img{
            width: 1.3rem;
            margin-right: 5px;
            color: white;
        }
        &:hover{
            background-color: rgba(117, 114, 114, 0.548);
            color: black;
            transition: .2s;
        }        
    }
}

/*------------DATA DE CONTACTO----------------*/

.data-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border: 2px solid $colorPrincipal;
    position: fixed;
    background-color:rgba(196, 192, 192, 0.848) ;
    min-width: 180px;
   
    border-radius: 5px;
    bottom: 20px;
    right: 20px;
    margin-right: 20px;
    padding: 8px 4px;
    &:hover{
       cursor: pointer;
        background-color: rgba(117, 114, 114, 0.548);
    }
    @media screen and (max-width: $small) {        
        position: relative;
        margin: auto;
        right:  initial;
     }
    a{
        color: transparent;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    img{
        margin: 0px 10px;
        width: 35px; 
        height: 35px;
        @media screen and (max-width: $small) {        
            width: 40px;    
            height: 40px;
         }
        &:hover{
            animation:  girarContacto 10s infinite forwards;
            animation-delay: .5s;
        }
    }
    
}
@keyframes girarContacto{
    0%{
        transform: rotate(9000deg);
    }
}

/*------------LANGUAGE CONTAINER----------------*/

.language-container{
    position: absolute;
    top:40px;
    right: 40px;
    margin: auto;
    a{
        
        margin: 0px 5px;
        border: 2px solid white;
        border-radius: 5px;
        padding: 3px 6px;
        font-size: 1.2rem;
        text-decoration: none;
        color: white;
        &:hover{
            background-color: white;
            color: black;
            transition: .4s;
        }        
    }
}